body {
    padding: 1%;
    background-color: #557a95;
    color: #000000;
    font-family: sans-serif;
    margin-left: 1%;
    margin-right: 1%;
}

a {
    color: #5D5C61;
}

ol {
    background-color: #7395AE
}

.validation {
    padding: 5px;
}

footer {
    background-color: #7395AE;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

table {
    background-color: #7395AE;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

th#home {
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

th {
    width: 500px;
}

br.sep {
    line-height: 4em;
}

.content {
    margin-left: auto;
    margin-right: auto;
    background-color: #7395AE;
    width: 90%;
    height: 90%;
}

img.left {
    margin: 20px;
    float: right;
    clear: left;
    border: 1px solid black;
}

img.right {
    margin: 20px;
    float: left;
    clear: right;
    border: 1px solid black;
}

p {
    padding-left: 3%;
    padding-right: 3%;
}

h1 {
    text-align: center;
    background-color: #7395AE;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

.content,
h1,
table,
footer {
    border: 1px solid black;
}

br#endcontent {
    line-height: 10em;
}

#mailme {
    padding-left: 40%;
}

a.home {
    padding-left: 2.5%;
}

br#endcontentlowes {
    line-height: 15em;
}

li {
    padding: 10px;
}

ol {
    padding-left: 150px;
}